.header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 8vh;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292864;
}

.companyName {
    text-align: left;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
}
