@import "tailwindcss/base";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

#root {
  background-color: #eff0f9;
}

.main {
  width: 70%;
  padding: 8vh 20px;
  margin: auto;
}

@media (max-width: 768px) {
  .main {
    width: 90%;
  }
}
